
@import "normalize.css";
@import "./containers.css";

@font-face {
  font-family: "Bank Gothic";
  src: url("bank-gothic.woff") format("woff");
}

:root {
  --bg: #321;
  --contrast: #ffb635;
  --handle: #f4f4f4;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header part */
body > div > header {
  font-family: "Bank Gothic";
  font-weight: bold;
  font-size: 1rem;
  background: var(--bg);
  color: var(--contrast);
}
body > div > header > p {
  margin: 0;
  padding-left: 0.6rem;
}

/* main */
body > div > main {
  flex-grow: 1;
}
